@model IEnumerable<Proyecto.Models.Trabajador>

@{
    ViewData["Title"] = "list";
}

<h1>Trabajador</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">NUEVO <i class="bi bi-person-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idtrabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomtrabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apetrabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dnitrabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teltrabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.area)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idtrabajador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomtrabajador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apetrabajador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dnitrabajador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teltrabajador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area)
            </td>
                 <td>
                    @Html.ActionLink("", "Edit", new { id=item.idtrabajador},new {@class="btn btn-warning bi bi-pencil-square"})
                    @Html.ActionLink("", "Details", new { id=item.idtrabajador },new{@class="btn btn-success bi bi-ticket-detailed"})
                    @Html.ActionLink("", "Delete", new { id=item.idtrabajador },new {onclick = "return confirm('¿Está seguro que desea eliminar este registro?')" ,@class="btn btn-danger bi bi-trash" })
                 </td>
        </tr>
}
    </tbody>
</table>
