@model IEnumerable<Proyecto.Models.Producto>
<link href="/css/estilo.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Carrito";
}

<h1>Carrito</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="formulario">

    @foreach (var item in Model)
    {

        <div class="card" style="width: 18rem;">
            <img src="@Url.Content($"~/imagenes/prod_{item.idproducto}.jpg")" class="card-img-top" alt="...">
            <div class="card-body">
                <em>Codigo:</em>@Html.DisplayFor(modelItem => item.idproducto)
                <br>
                <em>Tipo:</em>@Html.DisplayFor(modelItem => item.tipoproducto)
                <br>
                <em>IdProveedor:</em>@Html.DisplayFor(modelItem => item.idproveedor)
                <br>
                <em>Nombre:</em>@Html.DisplayFor(modelItem => item.nomproducto)
                <br>
                <em>Cantidad:</em> @Html.DisplayFor(modelItem => item.cantproducto)
                <br>

                <em>Precio:</em>@Html.DisplayFor(modelItem => item.precproducto)
                <br>
                <em>Stock Max:</em>  @Html.DisplayFor(modelItem => item.stockmax)
                <br>
                <em>Stcok Min:</em>@Html.DisplayFor(modelItem => item.stockmin)
                <br>
                <em>Estado:</em> @Html.DisplayFor(modelItem => item.estadoproducto)
                <br>
                <em>Animal:</em>@Html.DisplayFor(modelItem => item.animal)
                <br>
                <em>Precio Proveedor</em>@Html.DisplayFor(modelItem => item.precproveedor)
                <br>
                <div class="d-grid gap-1">
                    @Html.ActionLink("Editable", "Edit", new { id=item.idproducto },new{@class="btn btn-primary"})
                    @Html.ActionLink("Detalles", "Detalle", new { id=item.idproducto},new {@class="btn btn-success"})
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.idproducto },new{@class="btn btn-danger"})
                </div>
                <h5 class="card-title text-center">Producto</h5>

            </div>
        </div>

    }

</div>
