@model IEnumerable<Proyecto.Models.Proveedor>

@{
    ViewData["Title"] = "list_proveedor";
}

<h1>list_proveedor</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ruc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.representante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ruc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.representante)
            </td>
            <td>
                    @Html.ActionLink("Escoger Proveedor", "list", new { idproveedor=item.idProveedor},new {@class="btn btn-outline-dark"})
                
            </td>
        </tr>
}
    </tbody>
</table>
