@model Proyecto.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="list" class="btn btn-success">Ir a la Lista</a>
    </form>
</div>
<div>
    @ViewBag.mensaje
</div>
