@model Proyecto.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
    </dl>
</div>
<div>
     @Html.ActionLink("Edit", "Edit", new { id = Model.idcliente }, new{@class="btn btn-primary"}) |
    <a asp-action="list" class="btn btn-info">Regresar <i class="bi bi-arrow-return-left"></i></a>
</div>
