@model IEnumerable<Proyecto.Models.Cliente>

@{
    ViewData["Title"] = "list";
}

<h1>Listado de Clientes</h1>

<form>
    <em>Nombre a filtrar</em>
    @Html.TextBox("nom")
    <button>Consultar</button>
</form>
<br />
<div>
    <a asp-action="Create" class="btn btn-primary">NUEVO <i class="bi bi-person-plus"></i></a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idcliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomcliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellcliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telcliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idcliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomcliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellcliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telcliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
       
                <td>
                    @Html.ActionLink("", "Edit", new { id=item.idcliente},new {@class="btn btn-warning bi bi-pencil-square"})
                    @Html.ActionLink("", "Details", new { id=item.idcliente},new{@class="btn btn-success bi bi-ticket-detailed"})
                    @Html.ActionLink("", "Delete", new { id=item.idcliente},new {onclick = "return confirm('¿Está seguro que desea eliminar este registro?')" ,@class="btn btn-danger bi bi-trash" })
                </td>
        </tr>
}
    </tbody>
</table>
