@model Proyecto.Models.Producto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Estas seguro de eliminar este producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idproducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idproducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoproducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoproducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idproveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idproveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomproducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomproducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantproducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantproducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precproducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precproducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stockmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stockmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stockmax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stockmax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estadoproducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estadoproducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.animal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precproveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precproveedor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="list" class="btn btn-info">Regresar</a>
    </form>
</div>
<div>@ViewBag.mensaje</div>
